<div class="footer">
	
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__column">
				<span class="footer__logo">MEDICAL</span>
				<span class="footer__copy">
					г.Симферополь&nbsp;©&nbsp;Copyright&nbsp;-&nbsp;20024&nbsp;г.
				</span>
			</div>

			<div class="social">
				<a href="" class="social__icon">
					<svg class="svg-icon" viewBox="0 0 26 22" width="26" height="22"><use xlink:href="img/sprite.svg#sprite--tg"></use></svg>
				</a>
				<a href="" class="social__icon">
					<svg class="svg-icon" viewBox="0 0 26 16"  width="26" height="16"><use xlink:href="img/sprite.svg#sprite--vk"></use></svg>
				</a>
			</div>

			<div class="footer__column">
				<a class="footer__privacy" href="#" target="_blank" rel="nofollow">Политика конфиденциальности</a>
				<a class="footer__studio" href="#" target="_blank" rel="nofollow">
					<span>Сделано в</span><img src="img/sheer.svg" alt="studio logo">
				</a>
			</div>
		</div>
	
	</div>
</div>