<header class="header" data-element="header">
	<div class="container">
		<div class="header__wrapper">

			<button class="header__burger" data-element="navToggle">
				<i></i>
				<i></i>
				<i></i>
			</button>

			<a href="/" class="header__logo">
				<span class="header__logo-name">MEDICAL</span>
				<span class="header__logo-caption">Личный сайт Никоненко <br> Елены Николаевны</span>
			</a>

			<address class="header__address">
				Симферополь,<br>
				ул.&nbsp;Тургенева&nbsp;20
			</address>

			<div class="header__contacts">
				<a class="header__contacts-tel" href="tel:+79682111111">+7 968 211 11 11</a>
				<a class="header__contacts-mail" href="mailto:elena_nikolaevna@mail.ru">elena_nikolaevna@mail.ru</a>
			</div>

			<a class="header__button button" href="">Заказать звонок</a>

			<div class="social">
				<a href="" class="social__icon">
					<svg class="svg-icon" viewBox="0 0 26 22" width="26" height="22"><use xlink:href="img/sprite.svg#sprite--tg"></use></svg>
				</a>
				<a href="" class="social__icon">
					<svg class="svg-icon" viewBox="0 0 26 16"  width="26" height="16"><use xlink:href="img/sprite.svg#sprite--vk"></use></svg>
				</a>
			</div>
		</div>
	</div>
</header>


