.header {
	position: absolute;
	width: 100%;
	z-index: 10;

	&__button {
		@media only screen and (max-width:1300px) {
			display: none;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		padding: 32px 0;

		@media only screen and (max-width: 900px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 16px;

			padding: 20px 0;
		}
	}

	&__logo {
		display: flex;
		gap: 24px;
		align-items: center;
		margin-right: 32px;

		&-caption {
			font-size: 14px;
			line-height: 20px;
			color: #1A1A1A;
			opacity: 0.65;
		}

		&-name {
			font-weight: 800;
			font-size: 42px;
			line-height: 51px;
			color: #1A1A1A;
		}

		@media only screen and (max-width: 900px) {
			margin-right: 0;

			&-caption {
				font-size: 10px;
				line-height: 16px;
			}
	
			&-name {
				font-size: 32px;
				line-height: 41px;
			}
	
		}
	}

	&__address {
		display: inline-block;
		font-style: normal;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		letter-spacing: 0.01em;
		text-align: left;
		color: #1A1A1A;
		opacity: .72;

		@media only screen and (max-width:1272px) {
			display: none;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: 24px;

		& a {
			color: #ffffff;
			transition: color .3s;
			opacity: .96;
			letter-spacing: 0.01em;

			@media (hover: hover) {
				&:hover {
					color: #e2e2e2;
				}
			}
		}

		&-tel {
			font-size: 24px;
			font-weight: 700;
			line-height: 34px;
			text-align: center;
		}

		&-mail {
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;
		}

		@media only screen and (max-width:1272px) {
			margin-right: 0;
		}

		@media only screen and (max-width: 900px) {
			margin-left: 0;
			display: none;
		}
	}

	&__nav {
		display: none;
		width: 100%;
		background-color: #66a316d4;
		padding: 14px 0;
		margin-top: 50px;
		position: relative;
		transition: opacity .3s, transform .3s, margin .3s;
		backdrop-filter: blur(5px);

		&-list {
			position: relative;
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			width: 100%;
			justify-content: space-between;
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
			text-transform: uppercase;
		}

		&-item {

			& a {
				color: #ffffff;
				transition: opacity .3s;

				&:hover {
					opacity: .7;
				}
			}
		}

		@media only screen and (max-width: 769px) {
			pointer-events: none;
			opacity: 0;
			transform: translateX(-100%);
			position: absolute;
			z-index: 10;
			top: 36px;
			left: 0;

			&-list {
				flex-direction: column;
				gap: 10px;
				text-align: center;
			}
		}
	}

	&__burger {
		align-self: flex-start;
		// display: flex;		
		display: none;
		flex-direction: column;
		justify-content: center;
		width: 46px;
		height: 46px;
		border-radius: 6px;
		background-color: #66A316;
		flex-shrink: 0;
		padding: 8px;
		position: relative;
		z-index: 3;
		cursor: pointer;
		transition: background-color .3s;

		& i {
			display: block;
			height: 3px;
			width: 100%;
			border-radius: 2px;
			background: #fff;
			left: 0;
			top: 0;
			margin-bottom: 6px;

			&:first-child {
				width: 50%;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (hover: hover) {
			&:hover {
				background-color: darken($color: #66A316, $amount: 5%);
			}
		}
	}

	.social {
		display: flex;
		gap: 8px;
		margin-left: 24px;

		&__icon {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			width: 64px;
			height: 64px;
			line-height: 0;
			margin-right: 10px;
			background-color: #ffffff;
			border-radius: 50%;
			transition: color .3s, background-color .3s, opacity .3s, box-shadow .3s;

			@media (hover: hover) {
				&:hover {
					background-color: #f3f3f3;
				}
			}
		}

		@media only screen and (max-width: 900px) {
			margin-left: 0;
			display: none;
		}
	}
}

body.is-nav-open {

}

body.is-scrolled {

}