.nav {
	width: 100%;
	position: relative;
	z-index: 11;
	margin-bottom: 90px;
	transition: transform .3s;
	transform: none;

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		flex-shrink: 0;
		border-radius: 64px;
		overflow: hidden;

		&.is-current {
			background-color: #F1F1F1;
		}

		& a {
			display: flex;
			color: #1A1A1ADB;
			text-transform: uppercase;
			padding: 20px 32px;

			transition: color .3s, background-color .3s, opacity .3s, box-shadow .3s;

			@media (hover: hover) {
				&:hover {
					opacity: .7;
				}
			}
		}
	}
}

.scrollable-nav-container {
	// @media only screen and (max-width: 769px) {
	// 	height: calc(100vh - 100px);
	// 	overflow-y: scroll;
	// 	padding-bottom: 50px;

	// 	&::-webkit-scrollbar,
	// 	&::-webkit-scrollbar-thumb {
	// 		display: none;
	// 	}
	// }
}

body.is-scroll {
	.nav {
		position: fixed;
		top: -100px;
		transform: translateY(100px);
		left: 0;
		background-color: red;
	}

	.hero__content {
		padding-top: 303px;
	}
}